<div class="profile">
  <div class="profile card">
    <div class="profile-list">
    <% if current_user == @user %>
      <h1> My Profile: </h1>
    <% else %>
      <h1>  <%= @user.username %>'s Profile: </h1>
    <% end %>
          <% if @user == current_user %>
          <h2><i>This information is only seen by you.</i></h2>
          <th>Username: <%= @user.username %></th><br>
            <th>Name: <%= @user.first_name %> <%= @user.last_name %></th><br>
            <th>Company: <%= @user.company %> </th><br>
            <th>Email: <%= @user.email %></th><br>
            <% end %>
      <% if current_user == @user %>
        <%= link_to "Edit My Profile", edit_user_registration_path %>
      <% end %>
    </div> <%# profile-list %>
  </div> <%# my-profile card %>
<div class="job-results">
  <div class="job-list card">
    <div class="sorting-options">
      <% if current_user == @user %>
        <h1> My Job Posts: </h1>
      <% else %>
        <h1>  <%= @user.username %>'s Job Posts: </h1>
      <% end %>
        <% @user.posts.each do |post| %>
          <h3 class="job-title"><%= link_to post.title, post %></h3>
            <td>Industry: <%= post.industry %></td><br>
            <td>Requirements: <%= post.requirement %></td><br>
            <td>Location: <%= post.location %></td><br>
            <td>Posted by: <%= link_to post.user.username, post.user if post.user %></td><br>
                <% if post.user == current_user %>
                  <td><%= link_to 'Edit', edit_post_path(post) %></td>
                  <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% end %>
        <% end %>
        <div class="post-new-job">
          <%= link_to "Post a New Job", new_post_path, class: "btn btn-primary btn-md" %>
        </div>
    </div> <%# sorting-options %>
  </div> <%# job-list card %>
</div> <%# job-results %>
