<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, 'Job Title:' %>
    <%= f.text_field :title, class: "form-control" %>
    <div class="requirement-form">
      <%= f.label :requirement, 'Requirements:' %>
      <%= f.text_field :requirement, class: "form-control" %>
    </div>
    <div class="industry-form">
      <%= f.label :industry, 'Industry:' %>
      <%= f.select :industry, ['- Please Select -', 'Accounting', 'Advertising', 'Agriculture', 'Appliance & Electronics', 'Architecture', 'Automotive', 'Banking - Financial Services', 'Beauty / Wellness / Grooming', 'Biotechnology', 'Broadcasting - Radio - TV', 'Building Material', 'Call Center / SSO / BPO', 'Charitable - Not for profit', 'Chemical', 'Computer Hardware', 'Computer Software', 'Construction', 'Consulting', 'Consumer Products', 'Cosmetics & Beauty', 'Credit - Loan - Collections', 'Defense', 'Department Store', 'Education - Teaching - Administration', 'Electronic', 'Employment - Recruiting', 'Energy - Utilities - Gas - Electric', 'Engineering - Machinery', 'Engineering - Precision', 'Engneineering - Services', 'Entertainment', 'Environment', 'Exercise - Fitness', 'Event Management', 'Fashion - Apparel - Textiles', 'Food Service', 'Full Service Restaurant', 'Furniture', 'Government - Civil Service', 'Hardware - Home Improvement', 'Healthcare - Health Services', 'Homebuilding', 'Hospitality', 'Hotel - Resort', 'HVAC', 'Import - Export', 'Industrial', 'Insurance', 'Internet - Ecommerce', 'Landscaping', 'Legal', 'Library Science', 'Manufacturing', 'Marine / Maritime', 'Maritime - Offshore & Marine Engineering', 'Maritime - Port', 'Maritime - Shipping', 'Mass Merchendiser', 'Medical Equipment', 'Merchandising', 'Military', 'Mining / Drilling / Resources', 'Mortgage', 'Newspaper', 'Office Equipment', 'Other', 'Packaging', 'Pharmaceutical', 'Polymer / Plastics / Rubber', 'Printing - Publishing', 'Public Relations - Fund Raising', 'Real Estate - Property Management', 'Repair / Maintenance Services', 'Research & Development', 'Retail', 'Sales - Marketing', 'Science & Technology', 'Securities', 'Security', 'Semiconductor', 'Services - Corporate B2B', 'Social Services', 'Sporting Goods', 'Telecommunications', 'Training', 'Transportation - Railroad', 'Travel', 'Wireless', 'Wood / Fibre / Paper'], class: "form-control" %>
    </div>
    <div class="location-form">
      <%= f.label :location, 'Location:' %>
      <%= f.select :location, ['- Please Select -','Boca Raton', 'Boynton Beach', 'Coral Springs', 'Deerfield Beach', 'Delray Beach', 'Fort Lauderdale', 'Hialeah', 'Hollywood', 'Homestead', 'Jupiter', 'Kendall', 'Lake Worth', 'Miami', 'Miami Beach', 'Miami Lakes', 'Palm Beach Gardens', 'Pembroke Pines', 'Pompano Beach', 'Port St. Lucie', 'Sunrise', 'Tamarac', 'West Palm Beach'], class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
