<%= render 'pages/home' unless user_signed_in? %>

<h1>Most Recent:</h1>
<div class="job-results">
  <div class="job-list card">
    <div class="sorting-options">
    Sort By:
    </div>
    <% @posts.each do |post| %>
      <h3 class="job-title"><%= link_to post.title, post %></h3>
        <td>Industry: <%= post.industry %></td><br>
        <td>Requirements: <%= post.requirement %></td><br>
        <td>Location: <%= post.location %></td><br>
        <td>Posted by: <%= link_to post.user.username, post.user if post.user %></td><br>
            <% if post.user == current_user %>
              <td><%= link_to 'Edit', edit_post_path(post) %></td>
              <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
    <% end %>
  </div> <%# job-list card %>
  <div class="post-new-job">
    <%= link_to "Post a New Job", new_post_path, class: "btn btn-primary btn-lg" %>
  </div>
</div> <%# job-results %>

