<p id="notice"><%= notice %></p>

<p>
  <strong>Job Title:</strong>
  <%= @post.title %>
  <strong>Requirements:</strong>
  <%= @post.requirement %>
</p>
<% if @post.user == current_user %>
	<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
	<%= link_to 'Back', posts_path %>
