<div class="upload-resume">
	<div class="upload-resume card">
		<%= form_for [@post, @resume] do |f| %>

		<h3><div class="form-group">
		    <%= f.label :document, "Upload a Resume for:" %> <%= @post.title %>
		    <%= f.file_field :document, class: "form-control" %>
		  </div></h3>
		  <p><strong>BEFORE YOU SUBMIT:</strong>
		  <br><i>- Does this Resume have the Candidate's contact information?
		  <br>- Is this Candidate local or willing to relocate?
			<br>- Have <u>you</u> spoken to this Candidate in the past?</i></p>
		<div class="form-group">
		    <%= f.submit "Yes to all the above! Send Resume!", class: "btn btn-primary" %>
		 </div>
		 <%= link_to 'Back', posts_path %>

		<% end %>
	</div>
</div>