<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Jobfill </h3>
                    <ul>
                        <li> <%= link_to "How It Works", how_it_works_path %> </li>
                        <li> <%= link_to "About Us", about_path %> </li>
                        <li> <%= link_to "FAQ", faq_path %> </li>
                        
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Feedback </h3>
                    <ul>
                        <li> <%= mail_to "support@jobfill.co", "How Can We Make Jobfill Better?" %> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Join Our Team </h3>
                    <ul>
                        <li> <%= mail_to "jobs@jobfill.co", "Tell Us Why You'd Be A Great Fit!" %> </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Contact Us </h3>
                    <ul>
                        <li> <a href="#"> <%= mail_to "support@jobfill.co", "Report a Resume" %> </a> </li>
                        <li> <a href="#"> <%= mail_to "support@jobfill.co", "Technical Support" %> </a> </li>
                        <li> <%= link_to "Terms & Conditions", terms_conditions_path %> </li>
                        <li> <%= link_to "Privacy Policy", privacy_path %> </li>
                    </ul>
                </div>
                
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> © 2017 Jobfill. All right reserved. </p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                    <li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul> 
            </div>
        </div>
    </div>